@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 14px;
  background: #181f2a;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

p, a {
  color: #b8bbbc;
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: white;
}

.container {
  width: 100%;
  max-width: 1440px;
  min-width: 375px;
  margin: 0 auto;
  padding: 0 5%;
}

.btn {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  display: inline-block;
  padding: 1em 7em;
  background: linear-gradient(to right, #65e2d9, #339ecc);
  color: white;
  font-size: 1.1em;
  border-radius: 20px;
}

#header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 5%;
}
#header-container ul {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 50px;
}
#header-container ul a {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  display: block;
  padding: 8px 10px;
}

#front-cover {
  padding-top: 80px;
  text-align: center;
}
#front-cover img {
  max-width: 100%;
}
#front-cover h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  padding: 5% 0;
  line-height: 1.4em;
}
#front-cover p {
  color: #b8bbbc;
  font-size: 1.2em;
  line-height: 1.4em;
  padding: 0 6em;
  margin-bottom: 25px;
}
#front-cover .texto {
  padding: 0 20%;
}

#attributes {
  padding: 6em 0;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.container-card {
  width: calc(100% / 2 - 4em);
  text-align: center;
  padding: 2%;
}
.container-card svg {
  margin-bottom: 20px;
}
.container-card h3 {
  font-size: 1.3em;
  margin-bottom: .5em;
}
.container-card p {
  padding: 0 4em;
  line-height: 1.4em;
}

#produtive {
  display: flex;
  align-items: center;
}
#produtive .texto {
  padding: 0 4em;
}
#produtive h2 {
  padding-right: 1.5em;
  font-size: 2.5em;
  line-height: 1.2em;
  margin-bottom: .2em;
}
#produtive p {
  padding: .5em 0;
  line-height: 1.5em;
}
#produtive a {
  margin-top: 1em;
  color: #65e2d9;
  width: max-content;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #65e2d9;
  padding-bottom: 5px;
}
#produtive a svg {
  margin-left: 5px;
}

#comments {
  display: flex;
  gap: 2em;
  background: red;
}
