#contact {
  position: absolute; 
  width: 100%;
  top: -130px;
}

#contact-container {
  background: $dark-blue-into;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  padding: 4em 2em;
  border-radius: 4px;
  text-align: center;
  box-shadow: 5px 5px 10px $dark-blue-footer;

  h5 {
    font-size: 1.6em;
  }

  p {
    font-size: .8em;
    padding: 1.8em 1.4em;
    line-height: 1.4em;
  }

  form {
    position: relative;
    display: flex;
    gap: 20px;
    
    input, button {
      outline: none;
      border: none;
    }

    input {
      width: 100%;
      border-radius: 20px;
      padding: 1.2em;
      font-size: .8em;
      &::placeholder {
        color: $dark-white;
      }
    }

    button {
      @extend .btn;
      font-size: .8em;
      padding: 1em 1.5em;
      white-space: nowrap;
    }
  }
}

#msg {
  display: none;
  font-size: .8em;
  color: #b32c3b;
  position: absolute;
  bottom: -60%;
  left: 15px;
  &.active {
    display: block;
  }
}