* {
  box-sizing: border-box;
  text-decoration: none;
}

body, html {min-width: $container-min;}

body {
  font-size: 14px;
  background: $dark-blue-background;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

// COLORS
p,
a {
  color: $dark-white;
}

h1,
h2,
h3,
h4,
h5 {
  @include raleway(700);
  color: $white;
}

// CONTAINER
.container {
  width: 100%;
  max-width: $container;
  min-width: $container-min;
  margin: 0 auto;
  padding: 0 5%;
}

// BTN
.btn {
  @include raleway(700);
  cursor: pointer;
  display: inline-block;
  padding: 1em 7em;
  background: linear-gradient(to right, $cyan, $blue);
  color: white;
  font-size: 1.1em;
  border-radius: 20px;
  transition: filter .8s ease;

  &:hover {
    filter: brightness(1.2);
  }
}

