#header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 5%;

  ul {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 50px;

    a {
      @include raleway(400);
      display: block;
      padding: 8px 10px;
    }
  }

}
