#produtive {
  display: flex;
  align-items: center;

  .texto {
    padding: 0 4em;
  }

  h2 {
    padding-right: 1.5em;
    font-size: 2.5em;
    line-height: 1.2em;
    margin-bottom: 0.2em;
  }

  p {
    padding: 0.5em 0;
    line-height: 1.5em;
  }

  a {
    margin-top: 1em;
    color: $cyan;
    width: max-content;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $cyan;
    padding-bottom: 5px;
    transition: all .5s ease;

    svg {
      margin-left: 5px;
      use {transition: all .5s ease;}
    }

    &:hover {
      color: $white;
      border-color: $white;
      use {
       fill: $white;
      }
    }
    
  }

  img {
    width: calc(100% / 2);
    object-fit: cover;
  }
}
